/* Global Fonts */

body {
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}


/* Color Scheme */


/* Background Color */

body {
    background-color: #ffe5d1;
}


/* Sidebar Background Color */

body:before, .site-header {
    background-color: #e53b51;
}


/* Box Background Color */

.post-navigation, .pagination, .secondary, .site-footer, .hentry, .page-header, .page-content, .comments-area, .widecolumn {
    background-color: #ffffff;
}


/* Box Background Color */

button, input[type="button"], input[type="reset"], input[type="submit"], .pagination .prev, .pagination .next, .widget_calendar tbody a, .widget_calendar tbody a:hover, .widget_calendar tbody a:focus, .page-links a, .page-links a:hover, .page-links a:focus, .sticky-post {
    color: #ffffff;
}


/* Main Text Color */

button, input[type="button"], input[type="reset"], input[type="submit"], .pagination .prev, .pagination .next, .widget_calendar tbody a, .page-links a, .sticky-post {
    background-color: #352712;
}


/* Main Text Color */

body, blockquote cite, blockquote small, a, .dropdown-toggle:after, .image-navigation a:hover, .image-navigation a:focus, .comment-navigation a:hover, .comment-navigation a:focus, .widget-title, .entry-footer a:hover, .entry-footer a:focus, .comment-metadata a:hover, .comment-metadata a:focus, .pingback .edit-link a:hover, .pingback .edit-link a:focus, .comment-list .reply a:hover, .comment-list .reply a:focus, .site-info a:hover, .site-info a:focus {
    color: #352712;
}


/* Main Text Color */

.entry-content a, .entry-summary a, .page-content a, .comment-content a, .pingback .comment-body > a, .author-description a, .taxonomy-description a, .textwidget a, .entry-footer a:hover, .comment-metadata a:hover, .pingback .edit-link a:hover, .comment-list .reply a:hover, .site-info a:hover {
    border-color: #352712;
}


/* Secondary Text Color */

button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, .pagination .prev:hover, .pagination .prev:focus, .pagination .next:hover, .pagination .next:focus, .widget_calendar tbody a:hover, .widget_calendar tbody a:focus, .page-links a:hover, .page-links a:focus {
    background-color: #352712;
    /* Fallback for IE7 and IE8 */
    background-color: rgba( 53, 39, 18, 0.7);
}


/* Secondary Text Color */

blockquote, a:hover, a:focus, .main-navigation .menu-item-description, .post-navigation .meta-nav, .post-navigation a:hover .post-title, .post-navigation a:focus .post-title, .image-navigation, .image-navigation a, .comment-navigation, .comment-navigation a, .widget, .author-heading, .entry-footer, .entry-footer a, .taxonomy-description, .page-links > .page-links-title, .entry-caption, .comment-author, .comment-metadata, .comment-metadata a, .pingback .edit-link, .pingback .edit-link a, .post-password-form label, .comment-form label, .comment-notes, .comment-awaiting-moderation, .logged-in-as, .form-allowed-tags, .no-comments, .site-info, .site-info a, .wp-caption-text, .gallery-caption, .comment-list .reply a, .widecolumn label, .widecolumn .mu_register label {
    color: #352712;
    /* Fallback for IE7 and IE8 */
    color: rgba( 53, 39, 18, 0.7);
}


/* Secondary Text Color */

blockquote, .logged-in-as a:hover, .comment-author a:hover {
    border-color: #352712;
    /* Fallback for IE7 and IE8 */
    border-color: rgba( 53, 39, 18, 0.7);
}


/* Border Color */

hr, .dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: #352712;
    /* Fallback for IE7 and IE8 */
    background-color: rgba( 53, 39, 18, 0.1);
}


/* Border Color */

pre, abbr[title], table, th, td, input, textarea, .main-navigation ul, .main-navigation li, .post-navigation, .post-navigation div + div, .pagination, .comment-navigation, .widget li, .widget_categories .children, .widget_nav_menu .sub-menu, .widget_pages .children, .site-header, .site-footer, .hentry + .hentry, .author-info, .entry-content .page-links a, .page-links > span, .page-header, .comments-area, .comment-list + .comment-respond, .comment-list article, .comment-list .pingback, .comment-list .trackback, .comment-list .reply a, .no-comments {
    border-color: #352712;
    /* Fallback for IE7 and IE8 */
    border-color: rgba( 53, 39, 18, 0.1);
}


/* Border Focus Color */

a:focus, button:focus, input:focus {
    outline-color: #352712;
    /* Fallback for IE7 and IE8 */
    outline-color: rgba( 53, 39, 18, 0.3);
}

input:focus, textarea:focus {
    border-color: #352712;
    /* Fallback for IE7 and IE8 */
    border-color: rgba( 53, 39, 18, 0.3);
}


/* Sidebar Link Color */

.secondary-toggle:before {
    color: #ffffff;
}

.site-title a, .site-description {
    color: #ffffff;
}


/* Sidebar Text Color */

.site-title a:hover, .site-title a:focus {
    color: rgba( 255, 255, 255, 0.7);
}


/* Sidebar Border Color */

.secondary-toggle {
    border-color: #ffffff;
    /* Fallback for IE7 and IE8 */
    border-color: rgba( 255, 255, 255, 0.1);
}


/* Sidebar Border Focus Color */

.secondary-toggle:hover, .secondary-toggle:focus {
    border-color: #ffffff;
    /* Fallback for IE7 and IE8 */
    border-color: rgba( 255, 255, 255, 0.3);
}

.site-title a {
    outline-color: #ffffff;
    /* Fallback for IE7 and IE8 */
    outline-color: rgba( 255, 255, 255, 0.3);
}


/* Meta Background Color */

.entry-footer {
    background-color: #f1f1f1;
}

@media screen and (min-width: 38.75em) {
    /* Main Text Color */
    .page-header {
        border-color: #352712;
    }
}

@media screen and (min-width: 59.6875em) {
    /* Make sure its transparent on desktop */
    .site-header, .secondary {
        background-color: transparent;
    }
    /* Sidebar Background Color */
    .widget button, .widget input[type="button"], .widget input[type="reset"], .widget input[type="submit"], .widget_calendar tbody a, .widget_calendar tbody a:hover, .widget_calendar tbody a:focus {
        color: #e53b51;
    }
    /* Sidebar Link Color */
    .secondary a, .dropdown-toggle:after, .widget-title, .widget blockquote cite, .widget blockquote small {
        color: #ffffff;
    }
    .widget button, .widget input[type="button"], .widget input[type="reset"], .widget input[type="submit"], .widget_calendar tbody a {
        background-color: #ffffff;
    }
    .textwidget a {
        border-color: #ffffff;
    }
    /* Sidebar Text Color */
    .secondary a:hover, .secondary a:focus, .main-navigation .menu-item-description, .widget, .widget blockquote, .widget .wp-caption-text, .widget .gallery-caption {
        color: rgba( 255, 255, 255, 0.7);
    }
    .widget button:hover, .widget button:focus, .widget input[type="button"]:hover, .widget input[type="button"]:focus, .widget input[type="reset"]:hover, .widget input[type="reset"]:focus, .widget input[type="submit"]:hover, .widget input[type="submit"]:focus, .widget_calendar tbody a:hover, .widget_calendar tbody a:focus {
        background-color: rgba( 255, 255, 255, 0.7);
    }
    .widget blockquote {
        border-color: rgba( 255, 255, 255, 0.7);
    }
    /* Sidebar Border Color */
    .main-navigation ul, .main-navigation li, .widget input, .widget textarea, .widget table, .widget th, .widget td, .widget pre, .widget li, .widget_categories .children, .widget_nav_menu .sub-menu, .widget_pages .children, .widget abbr[title] {
        border-color: rgba( 255, 255, 255, 0.1);
    }
    .dropdown-toggle:hover, .dropdown-toggle:focus, .widget hr {
        background-color: rgba( 255, 255, 255, 0.1);
    }
    .widget input:focus, .widget textarea:focus {
        border-color: rgba( 255, 255, 255, 0.3);
    }
    .sidebar a:focus, .dropdown-toggle:focus {
        outline-color: rgba( 255, 255, 255, 0.3);
    }
}


/* Pretty printing styles. Used with prettify.js. */

.prettyprint, pre.prettyprint {
    background-color: #444;
    border: 1px solid #272822;
    overflow: hidden;
    padding: 0;
    margin: 20px 0;
    font-family:  Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace !important;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.prettyprint.linenums, pre.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #39382e, inset 41px 0 0 #464741;
    -moz-box-shadow: inset 40px 0 0 #39382e, inset 41px 0 0 #464741;
    box-shadow: inset 40px 0 0 #39382e, inset 41px 0 0 #464741
}

.prettyprint.linenums ol, pre.prettyprint.linenums ol {
    margin: 0 0 0 33px
}

.prettyprint.linenums ol li, pre.prettyprint.linenums ol li {
    color: #bebec5;
    line-height: 20px;
    margin-left: 0;
    list-style: decimal
}

.prettyprint ol.linenums {
    margin-bottom: 0;
    background-color: #272822;
    padding: 5px
}

.prettyprint .com {
    color: #93a1a1
}

.prettyprint .lit {
    color: #ae81ff
}

.prettyprint .pun, .prettyprint .opn, .prettyprint .clo {
    color: #f8f8f2
}

.prettyprint .fun {
    color: #dc322f
}

.prettyprint .str, .prettyprint .atv {
    color: #e6db74
}

.prettyprint .kwd, .prettyprint .tag {
    color: #f92659
}

.prettyprint .typ, .prettyprint .atn, .prettyprint .dec, .prettyprint .var {
    color: #a6e22e
}

.prettyprint .pln {
    color: #66d9ef
}


/** widget modify */

.widget-plain a {
    text-decoration: none;
}


